body{
    margin: 0%;
}

.grid-head{
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #00AAFF;
    align-items: center;
    padding: 1%;
}

.grid-head-content img{
    height: 100px;
}

.grid-head-content a{
    color: white;
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    padding-left: 10px;
}

.grid-foot{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    background-color: #00AAFF;
    align-items: center;
    padding: 1%;
}

.grid-foot-content p{
    color: white;
    font-family: serif;
    font-weight: bold;
}

.content{
    display: flex;
    padding: 5%;
}

.text #title {
    font-family: serif;
    font-weight: bold;
    font-size: 100px;
}

.text #description {
    font-family: serif;
    font-size: medium;
}

#image{
    max-width: 40%;
    border-radius: 40px;
    margin-left: 200px;
}